/* Place your CSS styles in this file */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}

li:last-child {
    border-bottom:none;
}
